swagger: '2.0'
info:
  title: API Better World Payments
  termsOfService: https://www.fondsen.org/link/terms/
  contact:
    email: development@fondsen.org
    url: https://www.fondsen.org/link/contact
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://redocly.github.io/openapi-template/logo.png
  description: >-
    This is the JSON Message for creating a payment transaction at Better World
    Payments and receiving the results.  
  version: 1.0.0
host: payments-sandbox.fondsen.org
basePath: /v1
schemes:
  - http
security:
- app_id: []
paths:
  /payments/request:
    post:
      tags:
        - payments
      summary: Payment Transaction
      description: "You can use this resource to initialte a payment recquest at our API. This request will trigger the following flow:\r\n\r\n1. After your initial request you will receive a message with a redirect to an authorization page. \r\n2. When the payment is completed our platform redirects the consumer back to your site based on the status of the payment. \r\n3. At the same time we push the status of the transaction to the callback URL you provided. It is also possible to retrieve the current statement using a GET request to one of our other resources,."
      parameters:
        - name: Authorization
          in: header
          description: "The Authorization Header uses Basic Authorization to request access to our API. You generate this by base64 encrypting:\r\n\r\nyour_code:your_token (don't forget the ':')"
          type: string
        - name: Payment_Request
          in: body
          description: >-
            The JSON message you include in the body of your request to initiate
            a payment
          schema:
            $ref: '#/definitions/Payment_Request'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Payment_Response'
            xml:
              name: Payment_Response
   securitySchemes:
    app_id:
      type: apiKey
      description: We Basic Authorization to validate access to our API. You can generate this token by base64 encrypting:\r\n\r\nyour_code:your_token (don't forget the ':')
      name: appid
      in: header
  /payments/ideal/issuers:
    get:
      tags:
        - payments
      summary: Overview iDEAL Issuers
      description: >-
        If you use the Payment Method iDEAL you want to include this resource.
        This GET operation returns a list of all the active issuers that support
        iDEAL-transactions
      parameters:
        - name: Authorization
          in: header
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: string
  '/payments/status/{PaymentId}':
    get:
      tags:
        - payments
      summary: Payment Status
      description: >-
        You can call this resource to retrieve the current status of a payment.
        It is advised to include a call to this endpoint in the return page, for
        instance the page a customer is returned to after a succesful payment,
        to update the payment and receive the information about the customer,. 
      parameters:
        - name: PaymentId
          in: path
          description: >-
            This is the Payment Identfifier that has been given to you in our
            payment response
          required: true
          type: string
        - name: Authorization
          in: header
          description: "You can Authorize using Basic Authorization:\r\n\r\nyour_code:your_token \r\n\r\nbase64 encrypted (don't forget the ':')"
          type: string
       security:
        - main_auth:
            - read:users
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Payment_Response'
            xml:
              name: Payment_Response
    securitySchemes:
      app_id:
      type: apiKey
      description: We Basic Authorization to validate access to our API. You can generate this token by base64 encrypting:\r\n\r\nyour_code:your_token (don't forget the ':')
      name: appid
      in: header
definitions:
  Payment_Response:
    title: Payment_Message
    description: The root of the payment response with mandatory fields
    xml:
      name: Payment_Message
    type: object
    properties:
      TransactionId:
        description: >-
          The unique identifier of this payment. This identifier will be
          included in every message we sent regarding this transaction.
        example: b222e078-43b6-42ee-b355-f20ef00485bb
        type: string
      Description:
        description: >-
          The description that has to be included on the bankstatement of the
          consumer (Mandatory)
        example: Donation Fondsen.org through Better World Payments
        type: string
      Reference:
        description: Your unique identifier of the transaction (Mandatory)
        example: Donation001
        type: string
      DateTime:
        description: The DateTime we received the request
        type: string
        format: date-time
      Status:
        title: ''
        type: object
        properties:
          Value:
            description: "The payment can have one of the following statuses: ’10 Transaction initiated’, ’20 Transaction terminated due by fraude detection’, ‘200 Transaction successful’, ‘300 Transaction failed’, ‘400 Transaction was cancelled by the user’, ‘500 Transaction was rejected by issuer’, ‘600 Transaction was expired’ or ‘700 Transaction pending’ \_"
            example: 200
            type: integer
            format: int32
          Description:
            description: >-
              This is the description of the status of the payment as mentioned
              in the value field
            example: Payment Successfull
            type: string
          SubStatus:
            title: ''
            type: object
            properties:
              Code:
                description: This field contains the substatus of the transaction
                example: X099
                type: string
              Description:
                description: >-
                  This field contains the desctiption of the substatus of the
                  transaction and often contains a next action
                example: Payment completed successfull. Transaction closed
                type: string
      Amount:
        title: ''
        type: object
        properties:
          Value:
            description: The amount of the transaction (Mandatory)
            example: 10
            type: number
          Currency:
            description: >-
              The currency of the transaction in the ISO 4217 currency code
              (Mandatory)
            example: EUR
            type: string
          AmountCharity:
            description: The split payment amount for the charity (Optional)
            example: 9
            type: number
          AmountMerchant:
            description: The split payment amount for a intermediary platform (Optional)
            example: 1
            type: number
      Notification:
        title: ''
        description: The section with the (status based) redirect urls (Mandatory)
        type: object
        properties:
          AuthorizationUrl:
            description: >-
              The webpage on your platform we redirect your custome to authorize
              the transaction with the issuer
            example: >-
              https://authorize.fondsen.org/payment/b222e078-43b6-42ee-b355-f20ef00485bb
            type: string
          CallbackUrl:
            description: >-
              Your resource that needs to receive the status update after
              completion of the transaction (Optional)
            example: 'https://status.fondsen.org/?payment_id=61643019899635592'
            type: string
          SuccessUrl:
            description: >-
              The webpage on your platform we redirect your customer to after a
              successful transaction (Mandatory)
            example: 'https://www.fondsen.org/success?payment_id=61643019899635592'
            type: string
          FailedUrl:
            description: >-
              The webpage on your platform we redirect your customer to after a
              failed transaction (Mandatory)
            example: 'https://www.fondsen.org/failed?payment_id=61643019899635592'
            type: string
          CancelledUrl:
            description: >-
              The webpage on your platform we redirect your customer to after a
              cancelled transaction (Mandatory)
            example: 'https://www.fondsen.org/cancelled?payment_id=61643019899635592'
            type: string
          ExpiredUrl:
            description: >-
              The webpage on your platform we redirect your customer to after an
              expired transaction (Mandatory)
            example: 'https://www.fondsen.org/expired?payment_id=61643019899635592'
            type: string
      Integration:
        title: ''
        description: In this section you can set integration settings (Optional)
        type: object
        properties:
          IsTest:
            description: >-
              Default value for this field is 'false'. If set to 'true' the
              transaction is handled as a test payment (Optional)
            example: false
            type: boolean
      Customer:
        title: ''
        description: >-
          The section with the customer information for creating a SEPA DD
          Mandate (Optional)
        type: object
        properties:
          FirstName:
            description: Customers First Name (Mandatory when payment method is 'sepa')
            example: R.
            type: string
          LastName:
            description: Customers Last Name (Mandatory when payment method is 'sepa')
            example: Waters
            type: string
          AddressLine1:
            description: Customers Address (Mandatory when payment method is 'sepa')
            example: Address 1
            type: string
          AddressLine2:
            description: Customers Address (Optional)
            example: Addressline 2
            type: string
          PostalCode:
            description: Customers Address (Mandatory when payment method is 'sepa')
            example: 1000 AA
            type: string
          City:
            description: Customers City (Mandatory when payment method is 'sepa')
            example: Amsterdam
            type: string
          CountryCode:
            description: >-
              Customers Country in the ISO 3166-1 alpha-2 country code
              (Mandatory when payment method is 'sepa')
            example: NL
            type: string
          LanguageCode:
            description: Customers Language in the ISO 639-1 code (Optional)
            example: nl
            type: string
          EmailAddress:
            description: Customers Email Address (Mandatory when payment method is 'sepa')
            example: customer@fondsen.org
            type: string
          BankAccount:
            title: ''
            description: >-
              The section with the customer bank account for creating a SEPA DD
              Mandate (Mandatory when payment method is 'sepa')
            type: object
            properties:
              Iban:
                description: Customers IBAN (Mandatory when payment method is 'sepa')
                example: NL01RABO123456789
                type: string
              AccountHolder:
                description: >-
                  Customers Name that is stated on his Bank Account (Mandatory
                  when payment method is 'sepa')
                example: R. Waters
                type: string
              BankAccountId:
                description: >-
                  The unique identifier for the bank account of the customer
                  (only with payment method 'sepa')
                example: ba4c78d73c083150b62ebc2d377aa9de
                type: string
          CustomerId:
            description: >-
              The unique identifier for the customer (only with payment method
              'sepa')
            example: 8e889bd1662f89af71091efeca2d0f58
            type: string
          MandateId:
            description: >-
              The unique identifier for the mandate that this customer has
              signed (only with payment method 'sepa')
            example: 08d8cd342dabf7f475bfb52c92e8b301
            type: string
      PaymentMethod:
        title: ''
        type: object
        properties:
          Name:
            description: >-
              The payment method you want to use for this transaction. You can
              use the values 'ideal', 'creditcard', 'paypal', 'debitcard',
              ‘paypal’ and sepa' (Mandatory)
            example: ideal
            type: string
          Issuer:
            description: >-
              The issuer of the payment method. You can use the values payment
              methods BIC-codes banks with ‘ideal' , 'mastercard’ and 'visa'
              with ‘creditcard' and ‘bancontact' with ‘debitcard' (Optional)
            example: INGBNL2A
            type: string
          Action:
            description: >-
              The action you want to preform. This field can have the value
              'pay' or 'refund' (Mandatory)
            example: pay
            type: string
          Recurring:
            description: >-
              Default value is 'false' and can be set to 'true' when using
              payment method 'sepa'. (Optional)
            example: false
            type: boolean
          IssuerResponse:
            title: ''
            description: >-
              This section contains the information the issuer returns after
              completion of the payment
            type: object
            properties:
              CustomerName:
                description: >-
                  The name of the customer as know with it’s issuer (only with
                  ‘ideal’, ‘debitcard’, 'sofort' and ‘creditcard’)
                example: R. Waters
                type: string
              CustomerIban:
                description: >-
                  The IBAN of the customers as processed by it’s issuer (only
                  with ‘ideal’, ‘debitcard’ and ‘sofort’’)
                example: NL01RABO123456789
                type: string
              CustomerBic:
                description: The BIC number of the consumers issuer (only with ‘ideal’)
                example: INGBNL2A
                type: string
              IssuerName:
                description: The name of the consumers issuer (only with ‘ideal’)
                example: Rabobank
                type: string
              IssuerOrderid:
                description: >-
                  The Order Identifier of the consumers issuer (only with
                  ‘ideal’)
                example: Fondsen0001
                type: string
              IssuerTransactionid:
                description: >-
                  The Order Identifier of the consumers issuer (only with
                  ‘ideal’)
                example: '1030200300400500'
                type: string
              ConsumerEmail:
                description: >-
                  The email address of the consumers as known by the issuer
                  (only with ‘paypal’)
                example: customer@fondsen.org
                type: string
              ConsumerCountry:
                description: >-
                  The country of the consumers as known by the issuer (only with
                  ‘paypal’)
                example: NL
                type: string
              CustomerFirstname:
                description: >-
                  The first name of the consumers as known by the issuer (only
                  with ‘paypal’)
                example: Roger
                type: string
              CustomerLastname:
                description: >-
                  The last name of the consumers as known by the issuer (only
                  with ‘paypal’)
                example: Waters
                type: string
              CustomerAddress:
                description: >-
                  The address of the consumers as known by the issuer (only with
                  ‘paypal’)
                example: Streetwise 1
                type: string
              CustomerZipcode:
                description: >-
                  The zip code of the consumers as known by the issuer (only
                  with ‘paypal’)
                example: 1000 AA
                type: string
              CustomerCity:
                description: >-
                  The city of the consumers as known by the issuer (only with
                  ‘paypal’)
                example: Amsterdam
                type: string
              CustomerRegion:
                description: >-
                  The region of the consumers as known by the issuer (only with
                  ‘paypal’)
                example: Noord-Holland
                type: string
              CustomerCardnumber:
                description: >-
                  The partly visible creditcard number of the consumer (only
                  with ‘creditcard’)
                example: 1234********5678
                type: string
              CustomerCardexportation:
                example: 05-2025
                type: string
  Payment_Request:
    title: Payment_Message
    description: The root of the payment request with mandatory fields
    xml:
      name: Payment_Message
    type: object
    properties:
      Description:
        description: >-
          The discription that has to be included on the bankstatement of the
          consumer (Mandatory)
        example: Donation Fondsen.org through Better World Payments
        type: string
      Reference:
        description: Your unique identifier of the transaction (Mandatory)
        example: '61643019899635592'
        type: string
      PaymentMethod:
        title: ''
        description: 'Section with payment methods  (Mandatory) '
        type: object
        properties:
          Name:
            description: >-
              The payment method you want to use for this transaction. You can
              use the values 'ideal', 'creditcard', 'paypal', 'debitcard',
              ‘paypal’ and sepa' (Mandatory)
            example: ideal
            type: string
          Issuer:
            description: >-
              The issuer of the payment method. You can use the values payment
              methods BIC-codes banks with ‘ideal' , 'mastercard’ and 'visa'
              with ‘creditcard' and ‘bancontact' with ‘debitcard' (Optional)
            example: INGBNL2A
            type: string
          Action:
            description: >-
              The action you want to preform. This field can have the value
              'pay' or 'refund' (Mandatory)
            example: pay
            type: string
          Recurring:
            description: >-
              Default value is 'false' and can be set to 'true' when using
              payment method 'sepa'. (Optional)
            example: true
            type: boolean
      Amount:
        title: ''
        type: object
        properties:
          Value:
            description: The amount of the transaction (Mandatory)
            example: 10
            type: number
          Currency:
            description: >-
              The currency of the transaction in the ISO 4217 currency code
              (Mandantory)
            example: EUR
            type: string
          AmountCharity:
            description: The split payment amount for the charity (Optional)
            example: 9
            type: number
          AmountMerchant:
            description: The split payment amount for a intermediairy plaform (Optional)
            example: 1
            type: number
      Notification:
        title: ''
        description: The section with the (status based) redirect urls (Mandatory)
        type: object
        properties:
          CallbackUrl:
            description: >-
              Your resource that needs to receive the status update after
              completion of the transaction (Optional)
            example: 'https://status.fondsen.org/?payment_id=61643019899635592'
            type: string
          SuccessUrl:
            description: >-
              The webpage on your platform we redirect your customer to after a
              succesful transaction (Mandatory)
            example: 'https://www.fondsen.org/success?payment_id=61643019899635592'
            type: string
          FailedUrl:
            description: >-
              The webpage on your platform we redirect your customer to after a
              failed transaction (Mandatory)
            example: 'https://www.fondsen.org/failed?payment_id=61643019899635592'
            type: string
          CancelledUrl:
            description: >-
              The webpage on your platform we redirect your customer to after a
              cancelled transaction (Mandatory)
            example: 'https://www.fondsen.org/cancelled?payment_id=61643019899635592'
            type: string
          ExpiredUrl:
            description: >-
              The webpage on your platform we redirect your customer to after an
              expired transaction (Mandatory)
            example: 'https://www.fondsen.org/expired?payment_id=61643019899635592'
            type: string
      Integration:
        title: ''
        description: In this section you can set integration settings.(Optional)
        type: object
        properties:
          IsTest:
            description: >-
              Default value for this field is 'false'. If set to 'true' the
              transaction is handled as a test payment (Optional)
            example: true
            type: boolean
      Customer:
        title: ''
        description: >-
          The section with the customer information for creating a SEPA DD
          Mandate (Optional)
        type: object
        properties:
          FirstName:
            description: Customers First Name (Mandatory when payment method is 'sepa')
            example: R.
            type: string
          LastName:
            description: Customers Last Name (Mandatory when payment method is 'sepa')
            example: Waters
            type: string
          AddressLine1:
            description: Customers Address (Mandatory when payment method is 'sepa')
            example: Address 1
            type: string
          AddressLine2:
            description: Customers Address (Optional)
            example: Addressline 2
            type: string
          PostalCode:
            description: Customers ZIP Code (Mandatory when payment method is 'sepa')
            example: 1000 AA
            type: string
          City:
            description: Customers City (Mandatory when payment method is 'sepa')
            example: Amsterdam
            type: string
          CountryCode:
            description: >-
              Customers Country in the ISO 3166-1 alpha-2 country code
              (Mandatory when payment method is 'sepa')
            example: NL
            type: string
          LanguageCode:
            description: Customers Language in the ISO 639-1 code (Optional)
            example: nl
            type: string
          EmailAddress:
            description: Customers Email Address (Mandatory when payment method is 'sepa')
            example: customer@fondsen.org
            type: string
          BankAccount:
            title: ''
            description: >-
              The section with the customer bank account for creating a SEPA DD
              Mandate (Optional)
            type: object
            properties:
              Iban:
                description: Customers IBAN (Mandatory when payment method is 'sepa')
                example: NL01RABO123456789
                type: string
              AccountHolder:
                description: >-
                  Customers Name that is stated on his Bank Account (Mandatory
                  when payment method is 'sepa')
                example: R. Waters
                type: string
tags:
  - name: payments
    description: Our End Points for Better World Payments
securitySchemes:
    app_id:
      type: apiKey
      description: We Basic Authorization to validate access to our API. You can generate this token by base64 encrypting:\r\n\r\nyour_code:your_token (don't forget the ':')
      name: appid
      in: header
